<widget id="com.softronel.safraamorestellez" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Los Amores Tellez</name>
  <description>
    Sistema de Administración para Condominios y Fraccionamientos
  </description>
  <author email="info@softronel.com.mx" href="softronel.com.mx">
    Softronel Team
  </author>     
  <platform name="android">	
	<icon src="www/img/icon.jpg" />
    <resource-file src="google-services.json" target="app/google-services.json" />
	<preference name="android-targetSdkVersion" value="18" />
  </platform>
  
	<platform name="ios">
		<resource-file src="GoogleService-Info.plist" />
	</platform>
	
  
  
  
  <preference name="orientation" value="portrait" /> 
  <content src="index.html" />
  <allow-intent href="*" />
  <access origin="*" />
  <allow-navigation href="*" />    
  <platform name="android">
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
	
</widget>